<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro
    name="body"
    params="wheel_radius imu_xyz imu_rpy">

    <link name="base_link">
      <visual>
        <geometry>
          <mesh filename="package://husarion_ugv_description/meshes/lynx/base.dae" />
        </geometry>
      </visual>

      <collision>
        <origin xyz="0.0 0.0 0.09" rpy="0.0 0.0 0.0" />
        <geometry>
          <!-- TODO change when models ready -->
          <!-- <mesh filename="package://husarion_ugv_description/meshes/panther/body_collision.stl" /> -->
          <box size="0.64 0.34 0.28" />
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <mass value="30.0" />
        <!-- TODO calculate real interia -->
        <inertia ixx="0.46856"  ixy="0.0"     ixz="0.0"
                                iyy="1.22285" iyz="0.0"
                                              izz="1.51185" />
      </inertial>
    </link>

    <joint name="base_to_footprint_joint" type="fixed">
      <origin xyz="0.0 0.0 -${wheel_radius}" rpy="0.0 0.0 0.0" />
      <parent link="base_link" />
      <child link="base_footprint" />
    </joint>

    <link name="base_footprint" />

    <joint name="base_to_user_compartment_joint" type="fixed">
      <origin xyz="0.0 0.0 0.00535" rpy="0.0 0.0 0.0" />
      <parent link="base_link" />
      <child link="user_compartment_link" />
    </joint>

    <link name="user_compartment_link">
      <visual>
        <geometry>
          <mesh filename="package://husarion_ugv_description/meshes/lynx/user_compartment.dae" />
        </geometry>
      </visual>

      <!-- TODO change when models ready -->
      <!-- <collision>
        <geometry>
          <mesh filename="package://husarion_ugv_description/meshes/panther/user_compartment_collision.stl" />
        </geometry>
      </collision> -->

      <inertial>
        <!-- TODO calculate real interia -->
        <mass value="30.0" />
        <inertia ixx="0.46856"  ixy="0.0"     ixz="0.0"
                                iyy="1.22285" iyz="0.0"
                                              izz="1.51185" />
      </inertial>
    </link>

    <joint name="base_to_battery_joint" type="fixed">
      <origin xyz="-0.2628 -0.07945 0.07265" rpy="0.0 0.0 0.0" />
      <parent link="base_link" />
      <child link="battery_link" />
    </joint>

    <link name="battery_link">
      <visual>
        <geometry>
          <mesh filename="package://husarion_ugv_description/meshes/lynx/battery.dae" />
        </geometry>
      </visual>

      <!-- TODO change when models ready -->
      <!-- <collision>
        <geometry>
          <mesh filename="package://husarion_ugv_description/meshes/panther/battery_collision.stl" />
        </geometry>
      </collision> -->


      <inertial>
        <mass value="30.0" />
        <!-- TODO calculate real interia -->
        <inertia ixx="0.46856"  ixy="0.0"     ixz="0.0"
                                iyy="1.22285" iyz="0.0"
                                              izz="1.51185" />
      </inertial>
    </link>

    <joint name="base_to_imu_joint" type="fixed">
      <origin xyz="${imu_xyz}" rpy="${imu_rpy}" />
      <parent link="base_link" />
      <child link="imu_link" />
    </joint>

    <link name="imu_link" />

    <joint name="base_to_cover_joint" type="fixed">
      <!-- TODO change to real value -->
      <origin xyz="0.0 0.0 0.2085" rpy="0.0 0.0 0.0" />
      <parent link="base_link" />
      <child link="cover_link" />
    </joint>

    <link name="cover_link" />

    <joint name="cover_to_mount_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0315" rpy="0.0 0.0 0.0" />
      <parent link="cover_link" />
      <child link="mount_link" />
    </joint>

    <link name="mount_link" />

  </xacro:macro>
</robot>
